<!DOCTYPE html>
<html lang="en">
  <head>
    <title>Jorge Careers</title>
  </head>
  <body>
     <h1>Jorge Careers</h1>
    <img src="{{url_for('static', filename='banner.jpg')}}" height="320"/>
    <h2>About Jorge</h2>
    <p>
      Lorem ipsum, dolor sit amet consectetur adipisicing elit. Ratione molestiae corporis dolor aperiam dolorem iusto veniam totam vitae quos harum eum sed, aliquam blanditiis neque, impedit, officia vero? Ad, ullam!
      Dolorum totam inventore sint dignissimos deleniti voluptas odit aperiam aspernatur? Dicta blanditiis fugiat, laboriosam explicabo deserunt repellat corporis, aspernatur optio temporibus aperiam ratione pariatur dolorum inventore vel accusamus eveniet cumque.
      Facilis tempore et commodi aliquam obcaecati iusto atque omnis totam ipsa? Quia, inventore iste unde nulla dolorem laudantium ratione id a quidem ea porro suscipit cupiditate, aspernatur quasi illo aliquam?
      Alias ullam nulla iure qui soluta, consequatur accusamus laboriosam dolores minus odit error quaerat iste enim sapiente suscipit illo molestiae. Quis temporibus quod saepe perferendis quaerat voluptate beatae atque consequuntur!
      Distinctio, velit harum! Dolores assumenda laborum, eveniet corrupti similique neque. Quae earum a eos corporis odio explicabo deleniti. Sunt unde perspiciatis molestias deleniti similique iusto iste expedita, voluptatum ipsum nam!
    </p>
    <h2>Open positions</h2>
    <p>TODO - Show the jobs here</p>
    <button>Contact Us</button>
    
    
  </body>
</html>